<!doctype html>

<html>
  <head>
    <title>StudyJam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

  </head>

  <body>

    <!-- Top -->
    <!-- Profile -->
    <div class="top">

		<!-- User Icon -->
		<div id="profile">
						<div id="profileIcon"><button onclick="viewUser()"
										class="btn btn-info btn-sm dropbtn">
										<span class="glyphicon glyphicon-user">
									</span> Profile
							</button>
						<div id="myDropdown" class="dropdown-content">
								<a href="#">Profile</a>
								<a href="#">Contacts</a>
								<a href="#">Link 3</a>
							</div>
					</div>
			</div>

      <!-- Search Bar -->
      <div class="search">
        <form>
          <input type="text" name="search" placeholder="Search..">
        </form>
      </div>

      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li class="active"><b>Home</b></li>
      </ol>
    </div>
    <!-- END TOP -->

    <!-- Contents of App -->
    <div id="main">

      <h1>Classes</h1>
      <button type="button" class="button1" data-toggle="modal" data-target="#newClassModal">
        <center>New Class</center>
      </button>

      <!--Modal for making a new class -->
      <div id="newClassModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <form id="addClassForm" action="javascript:addClass();">
                Class Name:<br/>
                <input type="text" name="newClassName">
                <br/><br/>
                <input type="submit" class="btn btn-default" value="Submit">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->

        <div id="classList">
          <ul>
          </ul>
          <ul>
            {{#each classes}}
            <li><a href="classPage/{{className}}"><div class="mycard3"><p>{{className}}<br/>Score: {{classScore}}</p></div></a></li>
            {{/each}}
          </ul>
          <br/>
        </div>

    </div>
    <!-- End Main Content -->


        <!-- Scripts -->
    <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyChJr4sJsuol5Z_8-qIiqluW3VgVEKgOIw",
        authDomain: "studyjamapp.firebaseapp.com",
        databaseURL: "https://studyjamapp.firebaseio.com",
        storageBucket: "studyjamapp.appspot.com",
        messagingSenderId: "682675386486"
      };
      firebase.initializeApp(config);
    </script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/study.js"></script>

  </body>

</html>
