<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      background-image: url("/images/background.jpg");
      background-repeat: no-repeat;
    }
    #myForm {
      margin: 100px 20% 0% 20%;
      background-color: white;
      border: 3px solid #f1f1f1;
    }

    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 0px 0px 10px 0px;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    button {
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 80%;
    }

    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }

    .nbtn {
      width: auto;
      margin: 0px 0px 10px 0px;
    }

    .myContainer {
        padding: 16px;
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }
  </head>

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
</style>
<body>
  <center>

<form action="javascript:login();" id="myForm">

  <h2>Login Form</h2>
  <div class="myContainer">
    <label><b>Username:</b></label>
    <br/>
    <input type="text" placeholder="Enter Username" name="uname" required>
    <br/>
    <label><b>Password:</b></label>
    <br/>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <br/>
    <button type="submit">Login</button>
    <br/>
    <!--<span class="psw">Forgot <a href="#">password?</a></span>-->
  </div>

  <div class="myContainer" style="background-color:#f1f1f1">
  </div>
</form>
<button type="button" class="cancelbtn" data-toggle="modal" data-target="#registerModal">Register</button>
  </center>

  <!-- Register Modal -->
  <div id="registerModal" class="modal fade" style="padding-top: 100px">
    <div class="modal-content">
      <div class="modal-header">
        <h2><center>Register</center></h2>
      </div>
      <div class="modal-body">
        <form id="registerForm" action="javascript:register();">
          <br/>
          <b>First Name:</b><br/>
          <input type="text" name="newFN" placeholder="John" required>
          <br/>
          <b>Last Name:</b><br/>
          <input type="text" name="newLN" placeholder="Smith" required>
          <br/>
          <b>Email:</b><br/>
          <input type="text" name="newEmail" placeholder="example@email.com" required>
          <br/>
          <b>Username:</b><br/>
          <input type="text" name="newUsername" placeholder="Enter Username..." required>
          <br/>
          <b>Password:</b><br/>
          <input type="text" name="newPassword" placeholder="Enter Password..." required>
          <br/>
          <input type="submit" class="nbtn btn btn-default" value="Submit">
          <button type="button" class="nbtn btn btn-default" data-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/js/study.js"></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92962433-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
