<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

  </head>

  <body>
  	<textarea id="notes" cols="80" rows="20" position="float-left" placeholder="TAKE NOTES HERE"></textarea>
    <div class="rightSide" style="margin-left:200px">
    </div>

      <div class="sidebar">
	<button type="button" class="addvocabterm" data-toggle="modal" data-target="#newClassModal1">Add Vocab Term</button>
	<button type="button" class="addquizquestion" data-toggle="modal" data-target="#newClassModal2">Add Quiz Question</button>
	<button type="button" class="closeWin" onclick="closeWin()"><center>Exit</center></button>
			
      </div>
      <!--Modal for making a new class -->
      <div id="newClassModal1" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <form action="#">
                Vocab Term:<br/>
                <input type="text" name="Term"> <br>
                Definition:<br/>
                <input type="text" name="Def">
                <br/><br/>
                <input type="submit" class="btn btn-default" value="Submit">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->

      <div id="newClassModal2" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <form action="#">
                Question:<br/>
                <input type="text" name="Term"> <br>
                Answer:<br/>
                <input type="text" name="Def">
                <br/><br/>
                <input type="submit" class="btn btn-default" value="Submit">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    <!-- Scripts -->
    <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyChJr4sJsuol5Z_8-qIiqluW3VgVEKgOIw",
        authDomain: "studyjamapp.firebaseapp.com",
        databaseURL: "https://studyjamapp.firebaseio.com",
        storageBucket: "studyjamapp.appspot.com",
        messagingSenderId: "682675386486"
      };
      firebase.initializeApp(config);
    </script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/study.js"></script>
  </body>

</html>
