/* Default Font */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#status { font-size: 13px; }
#status.nochange { color: #aaa; }
#status.pending { color: #a00; }
#status.saved { color: #0a0; }

/* search bar */
.search input[type=text] {
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../images/search.png');
  background-size: 24px 24px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search input[type=text]:focus {
  width: 80%;
}

.myModal {
  top: 50%;
  max-height: 420px;
  overflow-y: auto;
}

#newClassModal {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

#profile {
  position: absolute;
  padding-right: 20px;
  right: 0;
}

#classList {
  height: 300px;
  width: 90%;
  overflow-y: auto;
}

#notes {
  width: 75%;
  resize: none;
}

#classList ul {
  list-style-type: none;
}

#classList li {
  float: left;
  padding-right: 5px;
  padding-bottom: 5px;
}

#notesList {
  height: 160px;
  width: 90%;
  overflow-y: auto;
}

#notesList ul {
  list-style-type: none;
}

#notesList li {
  float: left;
  padding-right: 5px;
  padding-bottom: 5px;
}

#profileIcon {
  border: 2px solid lightblue;
  border-radius: 5px;
}


/* Side Bar */
.sidebar {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #EFEFEF; /* light-grey */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px;
  text-align: center;
}

/* Side Bar Links */
.sidebar a {
  /*font-size: 25px;
  color: #111;
  display: block;*/
}

/* for smaller screens */
@media screen {
  .button1 {margin-left: 200px;}
}

/* buttons */
.button1 {
  height: 100%;
  width: 150px;
  margin-left: 38px;
  margin-bottom: 5px;
  text-align: center;
  background-color: #ADD8E6;
  box-shadow: 0 0 5px 1px lightgrey;
}

.addquizquestion {
  height: 10%;
  width: 75%;
  margin-left: 5%;
  text-align: center;
  background-color: lightblue;
  box-shadow: 0 0 5px 1px lightgrey;
}

.addvocabterm {
  height: 10%;
  width: 75%;
  margin-left: 5%;
  text-align: center;
  background-color: lightblue;
  box-shadow: 0 0 5px 1px lightgrey;
}

.closeWin {
  height: 5%;
	width: 75px;
	margin-right: 38px;
	text-align: center;
	background-color: lightblue;
	box-shadow: 0 0 5px 1px lightgrey;
}

.notebutton {
  width: 150px;
  text-align: center;
  background-color: lightgreen;
  box-shadow: 0 0 5px 1px lightgrey;
  margin-bottom: 5px;
  margin-left: 38px;
}

.quizbutton {
  width: 150px;
  text-align: center;
  background-color: lightblue;
  box-shadow: 0 0 5px 1px lightgrey;
  margin-bottom: 5px;
  margin-left: 38px;
}

.studyguidebutton {
  width: 150px;
  text-align: center;
  background-color: DeepPink;
  box-shadow: 0 0 5px 1px lightgrey;
  margin-bottom: 5px;
  margin-left: 38px;
}

.notebutton:hover {
  box-shadow: 0 1px 5px 1px grey;
}

.button1:hover {
  box-shadow: 0 1px 5px 1px grey;
}

/* contents of page */
.top {
  padding: 20px;
  padding-bottom: 0px;
  width: 100%;
  background-color: #f5f5f5;
}

#main {
  padding: 20px;
  padding-top: 0px;
  width: 100%;
}

div.mynote {
  width: 150px;
  height: 150px;
  text-align: center;
  background-color: lightblue;
  box-shadow: 0 0 5px 1px lightgrey;
}

div.mynote p {
  padding: 5px;
}

div.mynote:hover {
  box-shadow: 0 1px 5px 1px grey;
}

div.mycard2 {
  width: 148px;
  height: 148px;
  text-align: center;
  background-color: lightblue;
  box-shadow: 0 0 5px 1px lightgrey;
}

div.mycard2 #p {
  padding: 5px;
}

div.mycard2:hover {
  box-shadow: 0 1px 5px 1px grey;
}

div.mycard3 {
  width: 250px;
  height: 40px;
  text-align: center;
  background-color: #FFF8DC;
  box-shadow: 0 0 5px 1px lightgrey;
  font-weight: bold;
  font-color: black;
}

div.mycard3:hover {
  box-shadow: 0 1px 5px 1px grey;
}

ul#lb {
  list-style-type: none;
  margin 0;
  padding 0;
  overflow: hidden;
}

ul#lb li {
  margin-right: 50px;
  float:left;
}

img#lbpic {
  width: 100px;
  clip-path: circle();
}


/* Drop down menu stuff */

/* Dropdown Button */
.dropbtn {
		background-color: #4CAF50;
		color: white;
		padding: 16px;
		font-size: 16px;
		border: none;
		cursor: pointer;
}

/* Dropdown button on hover and focus */
.dropbtn:hover, .dropbtn:focus {
		background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
		position: relative;
		display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content
 * container when the user clicks on the dropdown button) */
.show {display:block;}

/* Profile user modal */

/* The Modal (background) */
.modalProfile {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
	 height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
		.modal-content {
		position: relative;
		background-color: #fefefe;
		margin: auto;
		padding: 0;
		border: 1px solid #888;
		width: 80%;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		-webkit-animation-name: animatetop;
		-webkit-animation-duration: 0.4s;
		animation-name: animatetop;
		animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
		from {top:-300px; opacity:0} 
		to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

/* The Close Button */
    .close {
		color: white;
		float: right;
		font-size: 28px;
		font-weight: bold;
}

.close:hover,
.close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
}

.modal-header {
		padding: 2px 16px;
		background-color: #5cb85c;
		color: white;
}

.modal-body {padding: 2px 16px;}
.modal-footer {
		padding: 2px 16px;
		background-color: #5cb85c;
		color: white;
}


/* Snackbar */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
